services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "9696:9696"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/services/media/config/prowlarr:/config
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Prowlarr"
      - "glance.icon=sh:prowlarr-light"
      - "glance.url=https://prowlarr.rabalski.eu"

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "7878:7878"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/services/media/config/radarr:/config
      - /mnt/media:/data  # Single mount enables hard links
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Radarr"
      - "glance.icon=sh:radarr-light"
      - "glance.url=https://radarr.rabalski.eu"

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "8989:8989"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/services/media/config/sonarr:/config
      - /mnt/media:/data  # Single mount enables hard links
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Sonarr"
      - "glance.icon=sh:sonarr-light"
      - "glance.url=https://sonarr.rabalski.eu"

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "8686:8686"
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/services/media/config/lidarr:/config
      - /mnt/media:/data  # Single mount enables hard links
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Lidarr"
      - "glance.icon=sh:lidarr-light"
      - "glance.url=https://lidarr.rabalski.eu"

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=${TZ}
    networks:
      - media_net
    labels:
      - "glance.name=FlareSolverr"
      - "glance.icon=sh:flaresolverr-light"

networks:
  caddy_net:
    external: true
  media_net:
    external: true
