services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "8096:8096"
    user: ${PUID}:${PGID}
    environment:
      - TZ=${TZ}
      - JELLYFIN_PublishedServerUrl=${JELLYFIN_URL}
    volumes:
      - /mnt/nvme/services/media/config/jellyfin:/config
      - /mnt/nvme/services/media/config/jellyfin/cache:/cache
      - /mnt/media/movies:/media/movies:ro
      - /mnt/media/tv:/media/tv:ro
      - /mnt/media/music:/media/music:ro
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Jellyfin"
      - "glance.icon=sh:jellyfin-light"
      - "glance.url=https://media.rabalski.eu"
    devices:
      - /dev/dri:/dev/dri
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  navidrome:
    image: deluan/navidrome:latest
    container_name: navidrome
    restart: unless-stopped
    dns:
      - 192.168.1.1
      - 1.1.1.1
    ports:
      - "4533:4533"
    user: ${PUID}:${PGID}
    environment:
      - ND_SCANSCHEDULE=${NAVIDROME_SCAN_SCHEDULE}
      - ND_LOGLEVEL=${NAVIDROME_LOG_LEVEL}
      - ND_SESSIONTIMEOUT=${NAVIDROME_SESSION_TIMEOUT}
      - ND_BASEURL=${NAVIDROME_BASE_URL}
      - TZ=${TZ}
    volumes:
      - /mnt/nvme/services/media/config/navidrome:/data
      - /mnt/media/music:/music:ro
    networks:
      - caddy_net
      - media_net
    labels:
      - "glance.name=Navidrome"
      - "glance.icon=sh:navidrome-light"
      - "glance.url=https://music.rabalski.eu"

networks:
  caddy_net:
    external: true
  media_net:
    external: true
