networks:
  caddy_net:
    external: true

services:
  smartctl-exporter:
    image: prometheuscommunity/smartctl-exporter:v0.12.0
    container_name: smartctl-exporter
    restart: unless-stopped
    ports:
      - "9633:9633"
    privileged: true
    volumes:
      - /dev:/dev
      - /run/udev:/run/udev:ro
    security_opt:
      - apparmor:unconfined
    networks:
      - caddy_net
    labels:
      glance.name: "Smartctl Exporter"
      glance.icon: "mdi:harddisk"
    command:
      - "--smartctl.device=/dev/sda"
      - "--smartctl.device=/dev/sdb"
      - "--smartctl.device=/dev/nvme0"
      - "--smartctl.interval=60s"
    environment:
      - SMARTCTL_REFRESH_INTERVAL=60
      - SMARTCTL_SCAN_ON_START=true
