services:
  neko:
    image: ghcr.io/m1k1o/neko/firefox:latest
    container_name: neko
    restart: unless-stopped
    shm_size: "2gb"
    environment:
      - NEKO_SCREEN=1920x1080@30
      - NEKO_PASSWORD=${NEKO_PASSWORD}
      - NEKO_PASSWORD_ADMIN=${NEKO_PASSWORD_ADMIN}
      - NEKO_EPR=52000-52100
      - NEKO_TCPMUX=52100
      - NEKO_ICELITE=true
      - NEKO_NAT1TO1=${NEKO_NAT1TO1}
    ports:
      - "8082:8080"
      - "52000-52100:52000-52100/udp"
      - "52100:52100/tcp"
    labels:
      - "glance.name=n.eko"
      - "glance.icon=sh:neko-light"
      - "glance.url=https://kicia.rabalski.eu"
      - "glance.description=Browser Isolation"
    networks:
      - caddy_net

networks:
  caddy_net:
    external: true
