networks:
  caddy_net:
    external: true

volumes:
  caddy_data:
  caddy_config:

services:
  caddy:
    image: caddy:2.8.4
    container_name: caddy
    restart: unless-stopped
    volumes:
      - ./Caddyfile.no-plugin:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_net
    ports:
      - "443:443/tcp"
      - "443:443/udp"
      - "8443:443/tcp"
      - "8443:443/udp"
    extra_hosts:
      - "host.docker.internal:host-gateway"

